img {
   width: 35%;
   display: block;
   margin-left: auto;
   margin-right: auto

}

body {
 background-image: url(universe.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}